*{
    padding: 0;
    margin:0;
}

body{
    font-size: 16px;
    margin:0;
    padding:0;
}

/*HEADER*/
.banner{
    height: 400px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.banner h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 6rem;
    padding-top: 3rem;
   
}

/*NAVBAR*/
ul{
    text-align: center;
    height: 2.5rem;
    padding-top: 1rem;
}

li{
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.3rem 1.8rem;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #FFC145;
    text-decoration: underline;
}

/*MAIN*/


main{
    background-color: wheat;
    padding: 1.25rem 0;
    margin-right:auto;
    margin-left:auto;
    width: 90%;
    
}

main h2{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 3rem 0;
    text-decoration: underline;
}

.photos{
    display: inline;
}

figcaption{
    text-align: center;
    font-size: 1.2rem;
}


/* SECTION HISTORY */
main p{
    width: 80%;
    margin-right: auto;
    margin-left:auto;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
 
}

#history .photos img{
    width: 40%;
    margin: 4.5%
}

/*MEMORIES*/

#memories .photos img{
    width: 30%;
    margin: 1.5%;
}

/*PLANNING*/
table{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

th, tr{
    border: solid 1px black;
}

th, td{
    width: 150px;
    height: 50px;
}

tr{
    text-align: center;
}

.grey{
    background-color: lightgrey;
}

.lundi{
    background-color: lightblue;
}

.mercredi{
    background-color: lightpink;
}

.jeudi{
    background-color: lightgreen;
}

.vendredi{
    background-color: lightcyan;
}

.dimanche{
    background-color: lightgoldenrodyellow;
}

button{
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    border-radius: 0.6rem;
    background-color: #FFC145;
    border: solid 2px #FFC145;
    color: black;
    font-weight:bold;
}

button:hover{
    border: solid 2px #FFC145;
    background-color:white;
    color:#FFC145;
    font-weight: bold;
    cursor:  pointer;
}


/*FOOTER*/ 
 footer{
    height: 50px;
    text-align: center;
 }

/*MEDIA*/

@media only screen and (max-width: 960px){
    .banner h1{ 
        font-size: 3.5rem;
    }

    main p{
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
    }

    .grey{
        display: none;
    }

    #memories .photos img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #history .photos img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


}