.btn__container{
    display: flex;
    justify-content: center;
}

.btn{
    border: solid var(--primary) 2px;
    background-color: var(--primary);
    border-radius: 10px;
    width: 94px;
    height: 40px;
    color: var(--tertiary);
    text-transform: uppercase;
    width:100%;
}

.btn:hover{
    cursor: pointer;
}

.btn:active{
    background-color: var(--tertiary);
    color: var(--primary);
}