.img__container{
    width: 100%;
    height:auto;
    margin: 10px 0;
    cursor: pointer;
}

.img__container img{
    width: 100%;
    max-width: 500px;
    height: 270px;
    object-fit: cover;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    border-radius: 5px;
}


@media (max-width: 767px){
    .projects__container{
        width: 80%;
    }
}