



/*ABOUT */

#presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 30px auto;
}

.about{
    width:600px;
    text-align:justify;
    padding: 0 50px;
}

.about p{
    line-height: 2em;
    letter-spacing: 0.1em;
}

#myself{
    width: 270px;
    height: auto;
    border-radius: 20px;
    margin-left: 50px;
}

#skills{
    display:flex;
    flex-direction: column;
    
}


.skill{
    display: grid;
    grid-template: 100px / repeat(9,100px);
    
    margin: 1rem 5rem;
    justify-content: space-around;
    align-items: center; 
}



.fa-html5{
    grid-area:1/1;
}

.fa-css3-alt{
    grid-area:1/2;
}

.fa-js{
    grid-area:1/3;
}

.fa-node{
    grid-area:1/4;
}

.fa-git{
    grid-area:1/5;
}

.fa-github{
    grid-area:1/6;
}

.fa-figma{
    grid-area:1/7;
}

.fa-terminal{
    grid-area:1/8;
}

.fa-chrome{
    grid-area:1/9;
}

.sr-only {
    height: 1px;
    width: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
}

/*RESPONSIVE */ 


@media only screen and (max-width: 900px){

    .skill{
        grid-template: repeat(3,100px) / repeat(3,100px);
    }

    .fa-html5{
        grid-area:1/1;
    }

    .fa-css3-alt{
        grid-area:1/2;
    }

    .fa-js{
        grid-area:1/3;
    }

    .fa-node{
        grid-area:2/1;
    }

    .fa-git{
        grid-area:2/2;
    }

    .fa-github{
        grid-area:2/3;
    }

    .fa-figma{
        grid-area:3/1;
    }

    .fa-terminal{
        grid-area:3/2;
    }

    .fa-chrome{
        grid-area:3/3;
    }

    #presentation{
        flex-direction: column;
    }

    .about{
        width: 70%;
    }

    .about h2{
        text-align:center;
    }

    #myself{
        width: 40%;
      
        margin: 20px auto;
    }

}



