

img{
    width: 270px;
    height: 151px;
    border-radius: 5px;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    margin: 15px auto;
    width: 30%;
}

.presentation{
    text-align:center;
    border: solid 1px brown;
    background-color: rgb(249, 235, 209);
    filter: grayscale(0.5);
    padding-bottom: 10px;
}

.presentation:hover{
    border: dotted 1px brown;
    filter: grayscale(0);
}

h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 0;
    color: brown;
    
}

@media only screen and (max-width: 1050px){
    .project{
        flex-direction: column;
    }

    .container{
        width: 50%;
    }
}

@media only screen and (max-width: 650px){
    img{
        width: 200px;
        height: auto;
    }

    h3{
        font-size: 1rem;
    }
}
