

img{
    width: 270px;
    height: 151px;
    border-radius: 5px;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    margin: 15px auto;
    padding-bottom: 10px;
    width: 30%;
}

.presentation{
    text-align:center;
    border: solid 1px brown;
    background-color: rgb(249, 235, 209);
    filter: grayscale(0.5);
}

.presentation:hover{
    border: dotted 1px brown;
    filter: grayscale(0);
}

.note{
    width:80%;
    margin: auto;
    text-align: center;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 0;
    color: brown;
    
}
