:root{
    --primary: #FB8500;
    --secondary: #FFEEDB;
    --tertiary: #FFF7EE;
    --text: #252525;
    --bg: #FFF;
   
}

[data-theme="dark"]{
    --primary: #c06905;
    --secondary: #45423F;
    --tertiary: #bdbbbb;
    --text: #b3b3b3;
    --bg: #252525;
}
