:root{
    --primary: #FB8500;
    --secondary: #FFEEDB;
    --tertiary: #FFF7EE;
    --text: #252525;
    --bg: #FFF;
   
}

[data-theme="dark"]{
    --primary: #AD6511;
    --secondary: #45423F;
    --tertiary: #5b5b5b;
    --text: #b3b3b3;
    --bg: #252525;
}
