.skills__container{
    padding: 30px 0;
    width:80%;
    margin: auto;
}

.skill{
    width: 60%;
    margin: 30px auto;
    padding: 20px 0;
}

.skill__grid{
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    gap: 25% 0;
    margin: auto;
}

.skill__grid .icons{
    font-size: 40px;
    color: var(--text);
}

.icon{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.skill__btn{
    width: 10%;
    margin: auto;
    padding-top: 20px;
}


@media (max-width: 767px){
    .skill{
        width: 80%;
    }

    .skill__grid{
        grid: auto-flow / 1fr 1fr 1fr;
    }

    .skill__grid img{
        width: 50%;
    }

    .skill__btn{
        width: 35%;
    }
}