body{
  margin: 0;
  background-color: var(--bg);
}

h1{
  font-size: 60px;
  color: var(--text)
}

h2{
  color: var(--primary);
  text-transform: uppercase;
}

h2, h3, h4{
  font-size: 24px;
  text-align: center;
}

p, li, label{
  font-size: 20px;
}

h1, h2{
  font-weight: 400;
}

h1, h2, li{
  font-family: 'Roboto', sans-serif;
}

h3, p, label, span{
  font-family: 'Montserrat';
  font-weight: 400;
  color: var(--text)
}

h4{
  font-family: 'Montserrat';
  font-weight: 600;
  margin-top: 0;
  color: var(--text)
}

@media (max-width: 767px){
  h1{
    font-size: 40px;
  }

  h2, h3{
    font-size: 20px;
  }

  h4, p, li, label, span{
    font-size: 16px;
  }
}