/*GENERAL*/
*{
    margin:0 auto;
}

/*MAIN*/

main{
    padding: 50px 0;
    background-color: rgb(242, 215, 223);
    
}

main h2{
    font-family: 'Fredoka One', cursive;
    text-align:center;
    font-size: 35px;
    color: rgb(128, 0, 79);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px 0;
}

.container{
    background-color: lightpink;
    width: 50%;
    border-radius: 25px;
    padding-bottom: 20px;
   
}

.contact{
    display:grid;
    /*grid-template-columns: repeat(1, 1fr);*/
    grid-template-rows: repeat(3, 50px) auto 40px;
    gap:0;
}

input, textarea{
    border:none;
    border-radius:2px;
    cursor:pointer;
}

input{
    height: 25px;
}


.first{
    grid-row: 1;    
}

.last{
    grid-row: 2;   
}

.email{
    grid-row: 3;
}

.message{
    grid-row: 4;
}

#submit{
    grid-row: 5;
    padding: 0 15px;
    border-radius: 5px;
    background-color: rgb(128, 0, 79);
    color: white;
    border: solid 2px rgb(128, 0, 79);
    font-size: 16px;
}

#submit:hover{
    background-color:white;
    color:rgb(128, 0, 79);
}