
/*MAIN*/

main{
    padding: 50px 0;
    background-color: rgb(229, 215, 242);
    
}

main h2{
    font-family: 'Fredoka One', cursive;
    text-align:center;
    font-size: 35px;
    color: purple;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.newbee-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.smoothie-container, .donut-container{
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 10px 0;
    padding: 15px 0;
    border-radius: 15px;
}

.smoothie-container img, .donut-container img{
    width:150px;
    height:auto;
    margin-left:auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 50%;
}


.description{
    min-width: 240px;
    display: flex;
    align-items: center ;
    justify-content:space-around;
    flex-direction: column;
    
}

.description h3{
    font-size: 35px;
    color: purple;
    text-align:center;
    margin-bottom: 15px;
}

.description a{
    border: solid 2px #E660A5;
    border-radius: 25px;
    background-color: #E660A5;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align:center;
    font-size: 15px;
}

.description a:hover{
    background-color: white;
    color: #E660A5;
    border: solid 2px #E660A5;
}

