.footer__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: auto;
}

.footer__icons{
    display: flex;
}

.footer__icons img{
    width: 30px;
    height: 30px;
    padding: 10px 30px;
    cursor: pointer;
}
