.footer__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: auto;
}

.footer__icons{
    display: flex;
}

.footer__icons .icons{
    cursor: pointer;
    font-size: 40px;
    padding: 0 10px;
    color: var(--text);
}
